
@keyframes enterFromAbove {
    0% {
        transform: translateY(-100%);
    }


    100% {
        transform: translateY(0%);
    }
}

@keyframes enterFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes enterFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}