$side-panel-color: #5B605F;
$backgroundNav: #4a4a49;
$text-color: $backgroundNav;
$btnColor: #FF6600;
$btnActiveColor: #E58A20;
$screen-background-color: #FFFFFA;
$info-text-color: #3498DB;
$table-text-color: #A1A194;
$warning-text-color: #FFB03B;
$success-text-color: #468966;